<%begin%>
<h2>Search Result for Flight: <%=@flt_result.flightInfoResult.flights[0].ident%></h2>
<div class="arpt_tab">
    <table>
      <thead>
        <tr>
          <th scope="col">Flight</th>
          <th scope="col">Aircraft Type</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Time of Departure</th>
          <th scope="col">Estimated Time of Arrival</th>
        </tr>
      </thead>
      <tbody>

    <%@flt_result.flightInfoResult.flights.each do |flight|%>
          <%= "<tr>
                <td><strong class='book-title'>#{flight.ident}</strong></td>
                <td class='item-stock'>#{flight.aircrafttype}</td>
                <td>
                  <strong class='book-title'>#{flight.originName}(#{flight.origin})</strong>
                  <span class='text-offset'>#{flight.originCity}</span>
                </td>
                <td>
                  <strong class='book-title'>#{flight.destinationName}(#{flight.destination})</strong>
                  <span class='text-offset'>#{flight.destinationCity}</span>
                </td>
                <td class='item-stock'>#{Time.at(flight.filed_departuretime)}</td>
                <td class='item-qty'>#{Time.at(flight.estimatedarrivaltime)}</td>
                <td class='item-qty'><a href='/tag_flight/#{flight.ident}?origin=#{flight.originName}&destin=#{flight.destinationName}'>Tag flight</a></td>
              </tr>"%>
        <%end
          rescue
            redirect to '/fail'
          end
        %>
      </tbody>
</table>
</div>
</table>
