  <script>
    // search tabs - jq-ui
    $( function() {
      $( "#tabs" ).tabs();
    } );
  </script>


  <div id="div1">
  <h2 class="pink">Let jQuery AJAX Change This Text</h2>
  <button>Get External Content</button>
  </div>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Airport</a></li>
      <li><a href="#tabs-2">Flight</a></li>
      <li><a href="#tabs-3">Other</a></li>
    </ul>
    <div id="tabs-1">

      <div class="search">
        <form action="/arpt_filter">
          <fieldset>
             <legend>Search Airport</legend>
             <p>
                <label>Select Search Option</label>
                <select id = "search_opt" name='arpt_by'>
                  <option value = "country">Country</option>
                  <option value = "city">City</option>
                  <option value = "itta">ITTA</option>
                  <option value = "icao">ICAO</option>
                </select>
                <input type="text" name="arpt_query">
                <button>Search</button>
             </p>
          </fieldset>
        </form>
      </div>

    </div>

    <!-- Flight Search Tab -->
    <div id="tabs-2">

      <div class="search">
        <form action="/flt_filter" method="get">
          <fieldset>
             <legend>Search Flight</legend>
             <p>
                <!-- <label>Select Search Option</label>
                <select id = "search_opt">
                  <option value = "country">Country</option>
                  <option value = "Airline">Airline</option>
                  <option value = "icao">ICAO</option>
                </select>
                <input type="text" name="query"> -->
                <div>
                  <label for="">Origin</label>
                  <input type="text" name='flt_origin'>
                  <label for="">Destination</label>
                  <input type="text" name='flt_destin'>
                </div>
                <div>
                  <label for="">Flight Number</label>
                  <input type="text" name='flt_code'>
                  <label for="">Airline</label>
                  <input type="text" name='flt_Airline'>
                  <button>Search</button>
                </div>
             </p>
          </fieldset>
        </form>
      </div>

    </div>
    <div id="tabs-3">

      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
