<!-- <%require 'date'%> -->
<%
begin
if @is_route == true%>

  <h1>Flight Schedule For Route <%="#{@route_result[0].originName} To #{@route_result[0].destinationName}"%></h1>
  <table>
    <thead>
      <tr>
        <th scope="col">Aircraft Type/ID</th>
        <th scope="col">Origin</th>
        <th scope="col">ICAO</th>
        <th scope="col">Destination Name</th>
        <th scope="col">filed_departuretime</th>
        <th scope="col">estimatedarrivaltime</th>
      </tr>
    </thead>
    <tbody>
  <%@route_result.each do |flight|%>
    <%= "<tr>
          <td>
            <strong class='book-title'>#{flight.aircrafttype}</strong>
            <span class='text-offset'>#{flight.ident}</span>
          </td>
          <td class='item-stock'>
            <strong class='book-title'><a href='/arpt_detail/#{flight.origin}'>#{flight.originName}</a></strong>
            <span class='text-offset'>#{flight.originCity}</span>
          </td>
          <td class='item-stock'>#{flight.origin}</a></td>
          <td class='item-qty'>
            <strong class='book-title'><a href='/arpt_detail/#{flight.destination}'>#{flight.destinationName}</a></strong>
            <span class='text-offset'>#{flight.destinationCity}</span>
          </td>
          <td class='item-stock'>#{Time.at(flight.filed_departuretime)}</td>
          <td class='item-stock'>#{Time.at(flight.estimatedarrivaltime)}</td>
        </tr>"%>
      <%end%>
    </tbody>
  </table>
<%else%>
<h1>Flight Schedule Of <%=@route_result.scheduledResult.scheduled[0].originName%> Aiport</h1>

<table>
  <thead>
    <tr>
      <th scope="col">Aircraft Type/ID</th>
      <th scope="col">Origin</th>
      <th scope="col">ICAO</th>
      <th scope="col">Destination Name</th>
      <th scope="col">filed_departuretime</th>
      <th scope="col">estimatedarrivaltime</th>
    </tr>
  </thead>
  <tbody>

<%@route_result.scheduledResult.scheduled.each do |flight|%>
  <%= "<tr>
        <td>
          <strong class='book-title'>#{flight.aircrafttype}</strong>
          <span class='text-offset'>#{flight.ident}</span>
        </td>
        <td class='item-stock'>
          <strong class='book-title'><a href='/orgin_detail/#{flight.origin}'>#{flight.originName}</a></strong>
          <span class='text-offset'>#{flight.originCity}</span>
        </td>
        <td class='item-stock'>#{flight.origin}</a></td>
        <td class='item-qty'>
          <strong class='book-title'><a href='/orgin_detail/#{flight.destination}'>#{flight.destinationName}</a></strong>
          <span class='text-offset'>#{flight.destinationCity}</span>
        </td>
        <td class='item-stock'>#{Time.at(flight.filed_departuretime)}</td>
        <td class='item-stock'>#{Time.at(flight.estimatedarrivaltime)}</td>
      </tr>"%>
    <%end%>
  </tbody>
</table>
<%end
  rescue NoMethodError
    redirect to '/fail'
  end
%>
